.DS_Store

**/.idea
**/__pycache__/*
**/simulations/FlowPastCylinder/*
**/simulations/cavity/*

!**/simulations/**/0
!**/simulations/**/system
!**/simulations/**/results
!**/simulations/**/constant
!**/simulations/**/.blockMesh
!**/simulations/**/.foam
