# Ignore temporary folders and LFS
/POD
/ROM_POD_Algorithm

# Only add necessary config files for reproducibility
simulations/**
!simulations/**/
!simulations/**/0/*
!simulations/**/system/*
!simulations/**/results/*
!simulations/**/constant/*
!simulations/**/*.blockMesh
!simulations/**/*.foam
!simulations/**/*.OpenFoam
!simulations/**/README.md

# Ignore MacOS related files
**/.DS_Store

# Ignore cache and IDE
**/.idea
**/__pycache__/*
